<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_14f3883cdbb92737b7b51a932e7f6758 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_14f3883cdbb92737b7b51a932e7f6758" ></div>
        
</body>
<script>
    
    
            var map_14f3883cdbb92737b7b51a932e7f6758 = L.map(
                "map_14f3883cdbb92737b7b51a932e7f6758",
                {
                    center: [47.37956617956351, 1.425550725544581],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e8b8b3c62607326cc14a7fe2b47c237e = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_e8b8b3c62607326cc14a7fe2b47c237e.addTo(map_14f3883cdbb92737b7b51a932e7f6758);
        
    
            var marker_db66c816693997d7699226e8c3986112 = L.marker(
                [47.41906, 1.44406],
                {}
            ).addTo(map_14f3883cdbb92737b7b51a932e7f6758);
        
    
            var icon_06896b91e71e2fae8541c9c27f31aa2f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "seedling", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_db66c816693997d7699226e8c3986112.setIcon(icon_06896b91e71e2fae8541c9c27f31aa2f);
        
    
        var popup_068dfb070ddbb0a96d027c95a71f5bf4 = L.popup({"maxWidth": "100%"});

        
            
                var html_21cd574e411bdcebd39677238ff5ecf1 = $(`<div id="html_21cd574e411bdcebd39677238ff5ecf1" style="width: 100.0%; height: 100.0%;">'AgroPaul'	47.41906	1.44406</div>`)[0];
                popup_068dfb070ddbb0a96d027c95a71f5bf4.setContent(html_21cd574e411bdcebd39677238ff5ecf1);
            
        

        marker_db66c816693997d7699226e8c3986112.bindPopup(popup_068dfb070ddbb0a96d027c95a71f5bf4)
        ;

        
    
    
            var marker_e84bca934c7ddeee39caa373f15197a4 = L.marker(
                [47.37956617956351, 1.425550725544581],
                {}
            ).addTo(map_14f3883cdbb92737b7b51a932e7f6758);
        
    
            var icon_d41e0647ec3a5cfdf8b9c1ac565a4458 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e84bca934c7ddeee39caa373f15197a4.setIcon(icon_d41e0647ec3a5cfdf8b9c1ac565a4458);
        
    
        var popup_0e4b52e94e830f5ba4f4683b90058183 = L.popup({"maxWidth": "100%"});

        
            
                var html_c78a73299e220678aef6ebc4b022ac4d = $(`<div id="html_c78a73299e220678aef6ebc4b022ac4d" style="width: 100.0%; height: 100.0%;">client_1	47.37956617956351	1.425550725544581	tour n°3	mercredi matin	0.0</div>`)[0];
                popup_0e4b52e94e830f5ba4f4683b90058183.setContent(html_c78a73299e220678aef6ebc4b022ac4d);
            
        

        marker_e84bca934c7ddeee39caa373f15197a4.bindPopup(popup_0e4b52e94e830f5ba4f4683b90058183)
        ;

        
    
    
            var marker_332c763886fb1e07f974a0fa89060ac4 = L.marker(
                [47.445599722644985, 1.4134106190396882],
                {}
            ).addTo(map_14f3883cdbb92737b7b51a932e7f6758);
        
    
            var icon_04b77ad6c61a9d4821deabb8f53400c0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_332c763886fb1e07f974a0fa89060ac4.setIcon(icon_04b77ad6c61a9d4821deabb8f53400c0);
        
    
        var popup_06446d9e7173ef09667ec69c8660bb64 = L.popup({"maxWidth": "100%"});

        
            
                var html_e0754ce246d514affbe7f7fa85cea568 = $(`<div id="html_e0754ce246d514affbe7f7fa85cea568" style="width: 100.0%; height: 100.0%;">client_2	47.445599722644985	1.4134106190396882	tour n°1	lundi matin	0.0</div>`)[0];
                popup_06446d9e7173ef09667ec69c8660bb64.setContent(html_e0754ce246d514affbe7f7fa85cea568);
            
        

        marker_332c763886fb1e07f974a0fa89060ac4.bindPopup(popup_06446d9e7173ef09667ec69c8660bb64)
        ;

        
    
    
            var marker_2e5156e989537166eeb0feaebacaa899 = L.marker(
                [47.384887179063895, 1.483459951923191],
                {}
            ).addTo(map_14f3883cdbb92737b7b51a932e7f6758);
        
    
            var icon_375dff6483bb46421493b8742820e313 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2e5156e989537166eeb0feaebacaa899.setIcon(icon_375dff6483bb46421493b8742820e313);
        
    
        var popup_be35150b4017fb901c97dccd2a86676a = L.popup({"maxWidth": "100%"});

        
            
                var html_e832b1f9417a6d9ba4b78d4eabd25b21 = $(`<div id="html_e832b1f9417a6d9ba4b78d4eabd25b21" style="width: 100.0%; height: 100.0%;">client_3	47.384887179063895	1.483459951923191	tour n°2	vendredi matin	0.0</div>`)[0];
                popup_be35150b4017fb901c97dccd2a86676a.setContent(html_e832b1f9417a6d9ba4b78d4eabd25b21);
            
        

        marker_2e5156e989537166eeb0feaebacaa899.bindPopup(popup_be35150b4017fb901c97dccd2a86676a)
        ;

        
    
    
            var marker_2ad9adb4e20aa51d26d3b1f4bd602deb = L.marker(
                [47.443433000842546, 1.321638907205016],
                {}
            ).addTo(map_14f3883cdbb92737b7b51a932e7f6758);
        
    
            var icon_d558e7ce03fb1a109af4ea069c0a7d2c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2ad9adb4e20aa51d26d3b1f4bd602deb.setIcon(icon_d558e7ce03fb1a109af4ea069c0a7d2c);
        
    
        var popup_55c4979dee458566876e7487996c19f3 = L.popup({"maxWidth": "100%"});

        
            
                var html_f3b4240e52387e7e9a25a3278741995a = $(`<div id="html_f3b4240e52387e7e9a25a3278741995a" style="width: 100.0%; height: 100.0%;">client_4	47.443433000842546	1.321638907205016	tour n°5	vendredi matin	0.0</div>`)[0];
                popup_55c4979dee458566876e7487996c19f3.setContent(html_f3b4240e52387e7e9a25a3278741995a);
            
        

        marker_2ad9adb4e20aa51d26d3b1f4bd602deb.bindPopup(popup_55c4979dee458566876e7487996c19f3)
        ;

        
    
    
            var marker_f685bd3c7c94514c4b0112fe9eb40bab = L.marker(
                [47.41849953863978, 1.3651612774915909],
                {}
            ).addTo(map_14f3883cdbb92737b7b51a932e7f6758);
        
    
            var icon_ab565c1f5d42dfd080731f2c2e612091 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f685bd3c7c94514c4b0112fe9eb40bab.setIcon(icon_ab565c1f5d42dfd080731f2c2e612091);
        
    
        var popup_575a2fce48bf45a18b50798fe89ee4dd = L.popup({"maxWidth": "100%"});

        
            
                var html_6c666bc1836deb311da8a4653a4f670f = $(`<div id="html_6c666bc1836deb311da8a4653a4f670f" style="width: 100.0%; height: 100.0%;">client_5	47.41849953863978	1.3651612774915909	tour n°4	mercredi après-midi	0.0</div>`)[0];
                popup_575a2fce48bf45a18b50798fe89ee4dd.setContent(html_6c666bc1836deb311da8a4653a4f670f);
            
        

        marker_f685bd3c7c94514c4b0112fe9eb40bab.bindPopup(popup_575a2fce48bf45a18b50798fe89ee4dd)
        ;

        
    
    
            var marker_8bfc2b83cd57b9142692bd6c14df61d4 = L.marker(
                [47.41079112261836, 1.3571090740327325],
                {}
            ).addTo(map_14f3883cdbb92737b7b51a932e7f6758);
        
    
            var icon_6e63b8cafdf834cab06ac612a552e2c2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8bfc2b83cd57b9142692bd6c14df61d4.setIcon(icon_6e63b8cafdf834cab06ac612a552e2c2);
        
    
        var popup_809c043190a47eef251b4404492ae781 = L.popup({"maxWidth": "100%"});

        
            
                var html_cecc72ccbdc44bf377e6a215872c4bf7 = $(`<div id="html_cecc72ccbdc44bf377e6a215872c4bf7" style="width: 100.0%; height: 100.0%;">client_6	47.41079112261836	1.3571090740327325	tour n°6	mercredi après-midi	0.0</div>`)[0];
                popup_809c043190a47eef251b4404492ae781.setContent(html_cecc72ccbdc44bf377e6a215872c4bf7);
            
        

        marker_8bfc2b83cd57b9142692bd6c14df61d4.bindPopup(popup_809c043190a47eef251b4404492ae781)
        ;

        
    
    
            var poly_line_c86a3874069bf8e2452debdb9a1afcfe = L.polyline(
                [[47.41906, 1.44406], [47.41906, 1.44406], [47.445599722644985, 1.4134106190396882], [47.41906, 1.44406]],
                {"bubblingMouseEvents": true, "color": "Chocolate", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Chocolate", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_14f3883cdbb92737b7b51a932e7f6758);
        
    
            var poly_line_97652805c08b7b82afb95611c987c924 = L.polyline(
                [[47.41906, 1.44406], [47.41906, 1.44406], [47.445599722644985, 1.4134106190396882], [47.41906, 1.44406]],
                {"bubblingMouseEvents": true, "color": "FireBrick", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "FireBrick", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_14f3883cdbb92737b7b51a932e7f6758);
        
    
            var poly_line_23dfbac4c1c20bb64044619ab6a04896 = L.polyline(
                [[47.41906, 1.44406], [47.41906, 1.44406], [47.37956617956351, 1.425550725544581], [47.41906, 1.44406]],
                {"bubblingMouseEvents": true, "color": "MidnightBlue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "MidnightBlue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_14f3883cdbb92737b7b51a932e7f6758);
        
    
            var poly_line_b91669cd34e83c57b17d148260f2bfe2 = L.polyline(
                [[47.41906, 1.44406], [47.41906, 1.44406], [47.384887179063895, 1.483459951923191], [47.41906, 1.44406]],
                {"bubblingMouseEvents": true, "color": "DarkBlue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "DarkBlue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_14f3883cdbb92737b7b51a932e7f6758);
        
    
            var poly_line_a045801c59d107b1f8dbe36909c41869 = L.polyline(
                [[47.41906, 1.44406], [47.41906, 1.44406], [47.445599722644985, 1.4134106190396882], [47.41906, 1.44406]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_14f3883cdbb92737b7b51a932e7f6758);
        
    
            var poly_line_52fd69683cf47bb674a689270a38dc5a = L.polyline(
                [[47.41906, 1.44406], [47.41906, 1.44406], [47.443433000842546, 1.321638907205016], [47.41906, 1.44406]],
                {"bubblingMouseEvents": true, "color": "Purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_14f3883cdbb92737b7b51a932e7f6758);
        
</script>
</html>