<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4c257b303bd193c3467f7b46019cc67c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_4c257b303bd193c3467f7b46019cc67c" ></div>
        
</body>
<script>
    
    
            var map_4c257b303bd193c3467f7b46019cc67c = L.map(
                "map_4c257b303bd193c3467f7b46019cc67c",
                {
                    center: [47.39810502479879, 1.4698263164995569],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_bcad28afed4c4f28a2e975d87d417560 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_bcad28afed4c4f28a2e975d87d417560.addTo(map_4c257b303bd193c3467f7b46019cc67c);
        
    
            var marker_ecdf6468c623a406bece9b6ce60046d2 = L.marker(
                [47.41906, 1.44406],
                {}
            ).addTo(map_4c257b303bd193c3467f7b46019cc67c);
        
    
            var icon_db44b9488b05e752206a5cf1a0ece628 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "seedling", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_ecdf6468c623a406bece9b6ce60046d2.setIcon(icon_db44b9488b05e752206a5cf1a0ece628);
        
    
        var popup_971ed7424cf75b2ad8a92424ea1fcbe8 = L.popup({"maxWidth": "100%"});

        
            
                var html_ce786b0d0706a0b4c22f179380b832d7 = $(`<div id="html_ce786b0d0706a0b4c22f179380b832d7" style="width: 100.0%; height: 100.0%;">'AgroPaul'	47.41906	1.44406tour n°2 : jeudi, 15:52 - 16:2  tour n°3 : vendredi, 9:11 - 9:17  tour n°4 : vendredi, 14:37 - 15:1  </div>`)[0];
                popup_971ed7424cf75b2ad8a92424ea1fcbe8.setContent(html_ce786b0d0706a0b4c22f179380b832d7);
            
        

        marker_ecdf6468c623a406bece9b6ce60046d2.bindPopup(popup_971ed7424cf75b2ad8a92424ea1fcbe8)
        ;

        
    
    
            var marker_8858bb051a245687ab1a94befea40b08 = L.marker(
                [47.39810502479879, 1.4698263164995569],
                {}
            ).addTo(map_4c257b303bd193c3467f7b46019cc67c);
        
    
            var icon_69371feb126c1cd21a944f3a553068a1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8858bb051a245687ab1a94befea40b08.setIcon(icon_69371feb126c1cd21a944f3a553068a1);
        
    
        var popup_c462965b8102dc0ba65911957306eb52 = L.popup({"maxWidth": "100%"});

        
            
                var html_3675c83f5f9954306cc609574f76cb68 = $(`<div id="html_3675c83f5f9954306cc609574f76cb68" style="width: 100.0%; height: 100.0%;">client_1	47.39810502479879	1.4698263164995569	tour n°3 	vendredi, 9:14</div>`)[0];
                popup_c462965b8102dc0ba65911957306eb52.setContent(html_3675c83f5f9954306cc609574f76cb68);
            
        

        marker_8858bb051a245687ab1a94befea40b08.bindPopup(popup_c462965b8102dc0ba65911957306eb52)
        ;

        
    
    
            var marker_9ccbf34fecac5b39d7cd86d622ebd2f0 = L.marker(
                [47.372606817488865, 1.4668562749751197],
                {}
            ).addTo(map_4c257b303bd193c3467f7b46019cc67c);
        
    
            var icon_9c5bd32bc6b1c55249a6a72f6743bd82 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_9ccbf34fecac5b39d7cd86d622ebd2f0.setIcon(icon_9c5bd32bc6b1c55249a6a72f6743bd82);
        
    
        var popup_abe2f301eaa0d68b3bf50142deedf883 = L.popup({"maxWidth": "100%"});

        
            
                var html_9ac745e0452c5ac4bc4b24e45327e4fa = $(`<div id="html_9ac745e0452c5ac4bc4b24e45327e4fa" style="width: 100.0%; height: 100.0%;">client_2	47.372606817488865	1.4668562749751197	tour n°2 	jeudi, 15:57</div>`)[0];
                popup_abe2f301eaa0d68b3bf50142deedf883.setContent(html_9ac745e0452c5ac4bc4b24e45327e4fa);
            
        

        marker_9ccbf34fecac5b39d7cd86d622ebd2f0.bindPopup(popup_abe2f301eaa0d68b3bf50142deedf883)
        ;

        
    
    
            var marker_17916c4b2be1192e16f1aaf94d78e644 = L.marker(
                [47.35835639036685, 1.3660801425049465],
                {}
            ).addTo(map_4c257b303bd193c3467f7b46019cc67c);
        
    
            var icon_f3755a126f47af4d2a51e73018458b06 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_17916c4b2be1192e16f1aaf94d78e644.setIcon(icon_f3755a126f47af4d2a51e73018458b06);
        
    
        var popup_eddcaa0d8cd2b9a29f32b8d735bb28de = L.popup({"maxWidth": "100%"});

        
            
                var html_dce1fcedf864befa7af70ea9224da982 = $(`<div id="html_dce1fcedf864befa7af70ea9224da982" style="width: 100.0%; height: 100.0%;">client_3	47.35835639036685	1.3660801425049465	tour n°4 	vendredi, 14:44</div>`)[0];
                popup_eddcaa0d8cd2b9a29f32b8d735bb28de.setContent(html_dce1fcedf864befa7af70ea9224da982);
            
        

        marker_17916c4b2be1192e16f1aaf94d78e644.bindPopup(popup_eddcaa0d8cd2b9a29f32b8d735bb28de)
        ;

        
    
    
            var marker_566b13c67dd5b4a9b93f41bb8bae151e = L.marker(
                [47.46925645503616, 1.4234143263795433],
                {}
            ).addTo(map_4c257b303bd193c3467f7b46019cc67c);
        
    
            var icon_bc0be9451d53fb67e2f023441f7a2cd9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_566b13c67dd5b4a9b93f41bb8bae151e.setIcon(icon_bc0be9451d53fb67e2f023441f7a2cd9);
        
    
        var popup_e06496716ee84623a252917d88e697d0 = L.popup({"maxWidth": "100%"});

        
            
                var html_fd1560bd9c176b2d3078e730d405b0b3 = $(`<div id="html_fd1560bd9c176b2d3078e730d405b0b3" style="width: 100.0%; height: 100.0%;">client_4	47.46925645503616	1.4234143263795433	tour n°4 	vendredi, 14:56</div>`)[0];
                popup_e06496716ee84623a252917d88e697d0.setContent(html_fd1560bd9c176b2d3078e730d405b0b3);
            
        

        marker_566b13c67dd5b4a9b93f41bb8bae151e.bindPopup(popup_e06496716ee84623a252917d88e697d0)
        ;

        
    
    
            var poly_line_b0dca838036ac716f7f7d093c7042780 = L.polyline(
                [[47.41906, 1.44406], [47.41906, 1.44406]],
                {"bubblingMouseEvents": true, "color": "Red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_4c257b303bd193c3467f7b46019cc67c);
        
    
            var poly_line_566b141fae807264a2988d07771371ee = L.polyline(
                [[47.41906, 1.44406], [47.41906, 1.44406], [47.372606817488865, 1.4668562749751197], [47.41906, 1.44406]],
                {"bubblingMouseEvents": true, "color": "Green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_4c257b303bd193c3467f7b46019cc67c);
        
    
            var poly_line_189a48d3eeb8c1a1c71686e208663491 = L.polyline(
                [[47.41906, 1.44406], [47.41906, 1.44406], [47.39810502479879, 1.4698263164995569], [47.41906, 1.44406]],
                {"bubblingMouseEvents": true, "color": "BlueViolet", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "BlueViolet", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_4c257b303bd193c3467f7b46019cc67c);
        
    
            var poly_line_48496e2b83be0e2d5379790ba74afd6f = L.polyline(
                [[47.41906, 1.44406], [47.41906, 1.44406], [47.35835639036685, 1.3660801425049465], [47.46925645503616, 1.4234143263795433], [47.41906, 1.44406]],
                {"bubblingMouseEvents": true, "color": "Chocolate", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Chocolate", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_4c257b303bd193c3467f7b46019cc67c);
        
</script>
</html>