<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_81c050931ba77f0c263f08f9db9b711d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_81c050931ba77f0c263f08f9db9b711d" ></div>
        
</body>
<script>
    
    
            var map_81c050931ba77f0c263f08f9db9b711d = L.map(
                "map_81c050931ba77f0c263f08f9db9b711d",
                {
                    center: [47.50650524739547, 1.7306812869944677],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8a7f1ff9eb7f91865b80385b7370ba6b = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_8a7f1ff9eb7f91865b80385b7370ba6b.addTo(map_81c050931ba77f0c263f08f9db9b711d);
        
    
            var marker_ed84d1e4c8f3ab96aefb434114f4fe1a = L.marker(
                [47.41906, 1.44406],
                {}
            ).addTo(map_81c050931ba77f0c263f08f9db9b711d);
        
    
            var icon_a118c3e62e9376833c13516707b8298e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "seedling", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_ed84d1e4c8f3ab96aefb434114f4fe1a.setIcon(icon_a118c3e62e9376833c13516707b8298e);
        
    
        var popup_a28e6b6a6a30bca46228fb95e671e1cb = L.popup({"maxWidth": "100%"});

        
            
                var html_ad8632636c3b6713cb7ab609452da0a9 = $(`<div id="html_ad8632636c3b6713cb7ab609452da0a9" style="width: 100.0%; height: 100.0%;">'AgroPaul'	47.41906	1.44406</div>`)[0];
                popup_a28e6b6a6a30bca46228fb95e671e1cb.setContent(html_ad8632636c3b6713cb7ab609452da0a9);
            
        

        marker_ed84d1e4c8f3ab96aefb434114f4fe1a.bindPopup(popup_a28e6b6a6a30bca46228fb95e671e1cb)
        ;

        
    
    
            var marker_82c0f5c9266f5962de46c995d7283fc1 = L.marker(
                [47.50650524739547, 1.7306812869944677],
                {}
            ).addTo(map_81c050931ba77f0c263f08f9db9b711d);
        
    
            var icon_b0a4a181f78417e26458c4736015e501 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_82c0f5c9266f5962de46c995d7283fc1.setIcon(icon_b0a4a181f78417e26458c4736015e501);
        
    
        var popup_778ed2a7fe74987d257f6bc5ae6d6ef0 = L.popup({"maxWidth": "100%"});

        
            
                var html_58d63a6565cf4fc5748d4d09ea986c0f = $(`<div id="html_58d63a6565cf4fc5748d4d09ea986c0f" style="width: 100.0%; height: 100.0%;">client_1	47.50650524739547	1.7306812869944677	tour n°2	mardi après-midi</div>`)[0];
                popup_778ed2a7fe74987d257f6bc5ae6d6ef0.setContent(html_58d63a6565cf4fc5748d4d09ea986c0f);
            
        

        marker_82c0f5c9266f5962de46c995d7283fc1.bindPopup(popup_778ed2a7fe74987d257f6bc5ae6d6ef0)
        ;

        
    
    
            var marker_a3001c197d0d08849e032ba4de866519 = L.marker(
                [47.46600702639595, 1.7582511857107712],
                {}
            ).addTo(map_81c050931ba77f0c263f08f9db9b711d);
        
    
            var icon_b75cb9050ddfd2453bff3cefa9f0772a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a3001c197d0d08849e032ba4de866519.setIcon(icon_b75cb9050ddfd2453bff3cefa9f0772a);
        
    
        var popup_87ae9b8f28b068d6e09e6cd8a403d2ba = L.popup({"maxWidth": "100%"});

        
            
                var html_32c07d422e7e7e6bd6e62253f7266253 = $(`<div id="html_32c07d422e7e7e6bd6e62253f7266253" style="width: 100.0%; height: 100.0%;">client_2	47.46600702639595	1.7582511857107712	tour n°5	lundi matin</div>`)[0];
                popup_87ae9b8f28b068d6e09e6cd8a403d2ba.setContent(html_32c07d422e7e7e6bd6e62253f7266253);
            
        

        marker_a3001c197d0d08849e032ba4de866519.bindPopup(popup_87ae9b8f28b068d6e09e6cd8a403d2ba)
        ;

        
    
    
            var marker_2d07efdf1aa78e5b8438780041e5d87c = L.marker(
                [47.27337777062867, 1.605416657188917],
                {}
            ).addTo(map_81c050931ba77f0c263f08f9db9b711d);
        
    
            var icon_bd8ad522c4ecb3aa88ef809786a82a65 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2d07efdf1aa78e5b8438780041e5d87c.setIcon(icon_bd8ad522c4ecb3aa88ef809786a82a65);
        
    
        var popup_26b576d36af0777bf8f161a734e831e7 = L.popup({"maxWidth": "100%"});

        
            
                var html_ff5b06d6f539d4ff8cec84e5d78c3cb6 = $(`<div id="html_ff5b06d6f539d4ff8cec84e5d78c3cb6" style="width: 100.0%; height: 100.0%;">client_3	47.27337777062867	1.605416657188917	tour n°1	vendredi après-midi</div>`)[0];
                popup_26b576d36af0777bf8f161a734e831e7.setContent(html_ff5b06d6f539d4ff8cec84e5d78c3cb6);
            
        

        marker_2d07efdf1aa78e5b8438780041e5d87c.bindPopup(popup_26b576d36af0777bf8f161a734e831e7)
        ;

        
    
    
            var marker_36659bd2383dc54a4b7b7dff99a7ddf6 = L.marker(
                [47.643391538964075, 1.4261014712911877],
                {}
            ).addTo(map_81c050931ba77f0c263f08f9db9b711d);
        
    
            var icon_025c02896494d0dd31d5f243a277e2e1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_36659bd2383dc54a4b7b7dff99a7ddf6.setIcon(icon_025c02896494d0dd31d5f243a277e2e1);
        
    
        var popup_724b7a915eadfd9eaaaa3b2d5d5a2c15 = L.popup({"maxWidth": "100%"});

        
            
                var html_d9765131a600d2c188867b83abca5eac = $(`<div id="html_d9765131a600d2c188867b83abca5eac" style="width: 100.0%; height: 100.0%;">client_4	47.643391538964075	1.4261014712911877	tour n°1	vendredi après-midi</div>`)[0];
                popup_724b7a915eadfd9eaaaa3b2d5d5a2c15.setContent(html_d9765131a600d2c188867b83abca5eac);
            
        

        marker_36659bd2383dc54a4b7b7dff99a7ddf6.bindPopup(popup_724b7a915eadfd9eaaaa3b2d5d5a2c15)
        ;

        
    
    
            var marker_2068a07abdb7e49bd0e29f066607e6b1 = L.marker(
                [47.23041914182607, 1.4480153832289562],
                {}
            ).addTo(map_81c050931ba77f0c263f08f9db9b711d);
        
    
            var icon_d814bbcae4a279741d10b3c00d76b398 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "person", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2068a07abdb7e49bd0e29f066607e6b1.setIcon(icon_d814bbcae4a279741d10b3c00d76b398);
        
    
        var popup_3ff2bce3193fe3857a8a0eb33d4c8e93 = L.popup({"maxWidth": "100%"});

        
            
                var html_5d8f7f3e29ae4f4e52c90e00522c0c5b = $(`<div id="html_5d8f7f3e29ae4f4e52c90e00522c0c5b" style="width: 100.0%; height: 100.0%;">client_5	47.23041914182607	1.4480153832289562	tour n°3	vendredi après-midi</div>`)[0];
                popup_3ff2bce3193fe3857a8a0eb33d4c8e93.setContent(html_5d8f7f3e29ae4f4e52c90e00522c0c5b);
            
        

        marker_2068a07abdb7e49bd0e29f066607e6b1.bindPopup(popup_3ff2bce3193fe3857a8a0eb33d4c8e93)
        ;

        
    
    
            var poly_line_3af6f265f08e0abb5c65b29ba627ea3c = L.polyline(
                [[47.41906, 1.44406], [47.41906, 1.44406], [47.643391538964075, 1.4261014712911877], [47.27337777062867, 1.605416657188917], [47.41906, 1.44406]],
                {"bubblingMouseEvents": true, "color": "DarkViolet", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "DarkViolet", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_81c050931ba77f0c263f08f9db9b711d);
        
    
            var poly_line_8731dfb4b4693c09b2799d969f7d5d5d = L.polyline(
                [[47.41906, 1.44406], [47.41906, 1.44406], [47.50650524739547, 1.7306812869944677], [47.41906, 1.44406]],
                {"bubblingMouseEvents": true, "color": "MidnightBlue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "MidnightBlue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_81c050931ba77f0c263f08f9db9b711d);
        
    
            var poly_line_9990b78b41456ba137e898448f22b7df = L.polyline(
                [[47.41906, 1.44406], [47.41906, 1.44406], [47.23041914182607, 1.4480153832289562], [47.41906, 1.44406]],
                {"bubblingMouseEvents": true, "color": "Crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_81c050931ba77f0c263f08f9db9b711d);
        
    
            var poly_line_5f5cf77dc3064a882fd175bd38c2e941 = L.polyline(
                [[47.41906, 1.44406]],
                {"bubblingMouseEvents": true, "color": "Navy", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Navy", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_81c050931ba77f0c263f08f9db9b711d);
        
    
            var poly_line_7ef635c42aa51dd2ae4f8070b2c9f34d = L.polyline(
                [[47.41906, 1.44406], [47.41906, 1.44406], [47.46600702639595, 1.7582511857107712], [47.41906, 1.44406]],
                {"bubblingMouseEvents": true, "color": "DarkGreen", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "DarkGreen", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_81c050931ba77f0c263f08f9db9b711d);
        
</script>
</html>