<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_522b0f660f2d0c9345002a9c560dde70 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_522b0f660f2d0c9345002a9c560dde70" ></div>
        
</body>
<script>
    
    
            var map_522b0f660f2d0c9345002a9c560dde70 = L.map(
                "map_522b0f660f2d0c9345002a9c560dde70",
                {
                    center: [47.383333, 0.683333],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2571df7f49578965edb056b5833a89d4 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_2571df7f49578965edb056b5833a89d4.addTo(map_522b0f660f2d0c9345002a9c560dde70);
        
    
            var circle_marker_0bd4385563552bf2650734b08deded3c = L.circleMarker(
                [47.85154, 2.37734],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_522b0f660f2d0c9345002a9c560dde70);
        
    
        var popup_65282cc494440566872f1b1a4d950c39 = L.popup({"maxWidth": "100%"});

        
            
                var html_4240d93cd67d228b5d5599fa59af6cfd = $(`<div id="html_4240d93cd67d228b5d5599fa59af6cfd" style="width: 100.0%; height: 100.0%;">1	'ALLAIRE Daniel SAS'	47.85154	2.37734</div>`)[0];
                popup_65282cc494440566872f1b1a4d950c39.setContent(html_4240d93cd67d228b5d5599fa59af6cfd);
            
        

        circle_marker_0bd4385563552bf2650734b08deded3c.bindPopup(popup_65282cc494440566872f1b1a4d950c39)
        ;

        
    
    
            var circle_marker_df9a52ed6e81649a20c6972245e9f7a3 = L.circleMarker(
                [47.837571607741445, 2.3707354598951262],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_522b0f660f2d0c9345002a9c560dde70);
        
    
        var popup_d093299fbbfb0826e6f86b5909fd1630 = L.popup({"maxWidth": "100%"});

        
            
                var html_805f521bb47fd768980edbcde50b0f41 = $(`<div id="html_805f521bb47fd768980edbcde50b0f41" style="width: 100.0%; height: 100.0%;">2	client_1	47.837571607741445	2.3707354598951262</div>`)[0];
                popup_d093299fbbfb0826e6f86b5909fd1630.setContent(html_805f521bb47fd768980edbcde50b0f41);
            
        

        circle_marker_df9a52ed6e81649a20c6972245e9f7a3.bindPopup(popup_d093299fbbfb0826e6f86b5909fd1630)
        ;

        
    
    
            var circle_marker_adf7ffe7668a23fe24098e577c1afd0e = L.circleMarker(
                [47.859277935916865, 2.3683333089066934],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_522b0f660f2d0c9345002a9c560dde70);
        
    
        var popup_c77889df09c70a12875494b7c6fde2f6 = L.popup({"maxWidth": "100%"});

        
            
                var html_95c0487e13fab51257e1a3b8ed441a5d = $(`<div id="html_95c0487e13fab51257e1a3b8ed441a5d" style="width: 100.0%; height: 100.0%;">3	client_2	47.859277935916865	2.3683333089066934</div>`)[0];
                popup_c77889df09c70a12875494b7c6fde2f6.setContent(html_95c0487e13fab51257e1a3b8ed441a5d);
            
        

        circle_marker_adf7ffe7668a23fe24098e577c1afd0e.bindPopup(popup_c77889df09c70a12875494b7c6fde2f6)
        ;

        
    
    
            var circle_marker_8d4a85e3b52186343cb03c6e9963736f = L.circleMarker(
                [47.839037773495946, 2.3918828679381243],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_522b0f660f2d0c9345002a9c560dde70);
        
    
        var popup_8a04eb619228840f2a016e9ad1283bc1 = L.popup({"maxWidth": "100%"});

        
            
                var html_6005275dc41690ba47e2fc46c9bfebaa = $(`<div id="html_6005275dc41690ba47e2fc46c9bfebaa" style="width: 100.0%; height: 100.0%;">4	client_3	47.839037773495946	2.3918828679381243</div>`)[0];
                popup_8a04eb619228840f2a016e9ad1283bc1.setContent(html_6005275dc41690ba47e2fc46c9bfebaa);
            
        

        circle_marker_8d4a85e3b52186343cb03c6e9963736f.bindPopup(popup_8a04eb619228840f2a016e9ad1283bc1)
        ;

        
    
    
            var poly_line_188a47b84049b85040cd380069896866 = L.polyline(
                [[47.85154, 2.37734], [47.85154, 2.37734], [47.859277935916865, 2.3683333089066934], [47.85154, 2.37734], [47.85154, 2.37734]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_522b0f660f2d0c9345002a9c560dde70);
        
    
            var poly_line_8895caf8825e0a65570d085bca1d6c41 = L.polyline(
                [[47.85154, 2.37734], [47.85154, 2.37734]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_522b0f660f2d0c9345002a9c560dde70);
        
    
            var poly_line_2b3ea69a21c836a09a2ee5e24c9bd81b = L.polyline(
                [[47.85154, 2.37734], [47.85154, 2.37734], [47.837571607741445, 2.3707354598951262], [47.839037773495946, 2.3918828679381243], [47.85154, 2.37734], [47.85154, 2.37734]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_522b0f660f2d0c9345002a9c560dde70);
        
</script>
</html>