<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d7cc9d3a388675a4ea7273257784fb84 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_d7cc9d3a388675a4ea7273257784fb84" ></div>
        
</body>
<script>
    
    
            var map_d7cc9d3a388675a4ea7273257784fb84 = L.map(
                "map_d7cc9d3a388675a4ea7273257784fb84",
                {
                    center: [47.383333, 0.683333],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4966c8979f01d7323d20a23671f3722a = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_4966c8979f01d7323d20a23671f3722a.addTo(map_d7cc9d3a388675a4ea7273257784fb84);
        
    
            var circle_marker_b77d9e428514c753ba51b35264b7569c = L.circleMarker(
                [47.85154, 2.37734],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d7cc9d3a388675a4ea7273257784fb84);
        
    
        var popup_34dc61a91e4d237142cb419b3c7d004f = L.popup({"maxWidth": "100%"});

        
            
                var html_36573508bc5f29d9bf2df4977221e6e9 = $(`<div id="html_36573508bc5f29d9bf2df4977221e6e9" style="width: 100.0%; height: 100.0%;">1	'ALLAIRE Daniel SAS'	47.85154	2.37734</div>`)[0];
                popup_34dc61a91e4d237142cb419b3c7d004f.setContent(html_36573508bc5f29d9bf2df4977221e6e9);
            
        

        circle_marker_b77d9e428514c753ba51b35264b7569c.bindPopup(popup_34dc61a91e4d237142cb419b3c7d004f)
        ;

        
    
    
            var circle_marker_9a452b9489de31033aa137c64212f8ad = L.circleMarker(
                [47.837571607741445, 2.3707354598951262],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d7cc9d3a388675a4ea7273257784fb84);
        
    
        var popup_8103b93b6fbb4c3cd870a3fdea78774a = L.popup({"maxWidth": "100%"});

        
            
                var html_446e80818d28c10717465a7ae3cd576d = $(`<div id="html_446e80818d28c10717465a7ae3cd576d" style="width: 100.0%; height: 100.0%;">2	client_1	47.837571607741445	2.3707354598951262</div>`)[0];
                popup_8103b93b6fbb4c3cd870a3fdea78774a.setContent(html_446e80818d28c10717465a7ae3cd576d);
            
        

        circle_marker_9a452b9489de31033aa137c64212f8ad.bindPopup(popup_8103b93b6fbb4c3cd870a3fdea78774a)
        ;

        
    
    
            var poly_line_394c23c8ed0b9246188e3614bff336de = L.polyline(
                [[47.85154, 2.37734], [47.85154, 2.37734], [47.837571607741445, 2.3707354598951262], [47.85154, 2.37734], [47.85154, 2.37734]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_d7cc9d3a388675a4ea7273257784fb84);
        
</script>
</html>