<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_23ea4bde23695e88ab3028e47bab7ba8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_23ea4bde23695e88ab3028e47bab7ba8" ></div>
        
</body>
<script>
    
    
            var map_23ea4bde23695e88ab3028e47bab7ba8 = L.map(
                "map_23ea4bde23695e88ab3028e47bab7ba8",
                {
                    center: [47.383333, 0.683333],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3e006f283c00775470fce1a5393f0c85 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_3e006f283c00775470fce1a5393f0c85.addTo(map_23ea4bde23695e88ab3028e47bab7ba8);
        
    
            var circle_marker_454d46737e34ed93812efa3d3d1b79b3 = L.circleMarker(
                [47.85154, 2.37734],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_23ea4bde23695e88ab3028e47bab7ba8);
        
    
        var popup_9780c207e7dbd5c35106aed20470c94c = L.popup({"maxWidth": "100%"});

        
            
                var html_c7416dbe0ef1645a2f8e391607ac8172 = $(`<div id="html_c7416dbe0ef1645a2f8e391607ac8172" style="width: 100.0%; height: 100.0%;">1	'ALLAIRE Daniel SAS'	47.85154	2.37734</div>`)[0];
                popup_9780c207e7dbd5c35106aed20470c94c.setContent(html_c7416dbe0ef1645a2f8e391607ac8172);
            
        

        circle_marker_454d46737e34ed93812efa3d3d1b79b3.bindPopup(popup_9780c207e7dbd5c35106aed20470c94c)
        ;

        
    
    
            var circle_marker_9a9e0cb9ceff90d2e94ba621906f6d03 = L.circleMarker(
                [47.837571607741445, 2.3707354598951262],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_23ea4bde23695e88ab3028e47bab7ba8);
        
    
        var popup_f88edbb6c3c7af93abbc358db6d445d2 = L.popup({"maxWidth": "100%"});

        
            
                var html_09b230ff0bc0d3ee7710ede549c27c00 = $(`<div id="html_09b230ff0bc0d3ee7710ede549c27c00" style="width: 100.0%; height: 100.0%;">2	client_1	47.837571607741445	2.3707354598951262</div>`)[0];
                popup_f88edbb6c3c7af93abbc358db6d445d2.setContent(html_09b230ff0bc0d3ee7710ede549c27c00);
            
        

        circle_marker_9a9e0cb9ceff90d2e94ba621906f6d03.bindPopup(popup_f88edbb6c3c7af93abbc358db6d445d2)
        ;

        
    
    
            var circle_marker_022b341441a3e46edad896c12aab0634 = L.circleMarker(
                [47.859277935916865, 2.3683333089066934],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_23ea4bde23695e88ab3028e47bab7ba8);
        
    
        var popup_5ece499b880fc23b59afc01cc37d735e = L.popup({"maxWidth": "100%"});

        
            
                var html_10dcd089b464d362563fa5a527b18271 = $(`<div id="html_10dcd089b464d362563fa5a527b18271" style="width: 100.0%; height: 100.0%;">3	client_2	47.859277935916865	2.3683333089066934</div>`)[0];
                popup_5ece499b880fc23b59afc01cc37d735e.setContent(html_10dcd089b464d362563fa5a527b18271);
            
        

        circle_marker_022b341441a3e46edad896c12aab0634.bindPopup(popup_5ece499b880fc23b59afc01cc37d735e)
        ;

        
    
    
            var circle_marker_b7031f01e715d3e3d4e6ab6057834a63 = L.circleMarker(
                [47.839037773495946, 2.3918828679381243],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_23ea4bde23695e88ab3028e47bab7ba8);
        
    
        var popup_3715b81651984c39dbc0e2ee5c27f7c5 = L.popup({"maxWidth": "100%"});

        
            
                var html_d7b190ea4da6d175792f47aa783f61dd = $(`<div id="html_d7b190ea4da6d175792f47aa783f61dd" style="width: 100.0%; height: 100.0%;">4	client_3	47.839037773495946	2.3918828679381243</div>`)[0];
                popup_3715b81651984c39dbc0e2ee5c27f7c5.setContent(html_d7b190ea4da6d175792f47aa783f61dd);
            
        

        circle_marker_b7031f01e715d3e3d4e6ab6057834a63.bindPopup(popup_3715b81651984c39dbc0e2ee5c27f7c5)
        ;

        
    
    
            var circle_marker_aa8880a1e7d6f7e59fc26fd8aebe3f40 = L.circleMarker(
                [47.86362299120565, 2.316237475370496],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_23ea4bde23695e88ab3028e47bab7ba8);
        
    
        var popup_f72b5891e1109d11ab7a42ab2f623480 = L.popup({"maxWidth": "100%"});

        
            
                var html_575afdc041d80488fdfaf4396087d82a = $(`<div id="html_575afdc041d80488fdfaf4396087d82a" style="width: 100.0%; height: 100.0%;">5	client_4	47.86362299120565	2.316237475370496</div>`)[0];
                popup_f72b5891e1109d11ab7a42ab2f623480.setContent(html_575afdc041d80488fdfaf4396087d82a);
            
        

        circle_marker_aa8880a1e7d6f7e59fc26fd8aebe3f40.bindPopup(popup_f72b5891e1109d11ab7a42ab2f623480)
        ;

        
    
    
            var circle_marker_11d7f88df8fd3d14ce5a3b7143c3ec4a = L.circleMarker(
                [47.851313913602105, 2.3443209948902766],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_23ea4bde23695e88ab3028e47bab7ba8);
        
    
        var popup_26e0994c5dff3e72d2aa3085add95d87 = L.popup({"maxWidth": "100%"});

        
            
                var html_2edaf0639b7711844ed47b03476385dc = $(`<div id="html_2edaf0639b7711844ed47b03476385dc" style="width: 100.0%; height: 100.0%;">6	client_5	47.851313913602105	2.3443209948902766</div>`)[0];
                popup_26e0994c5dff3e72d2aa3085add95d87.setContent(html_2edaf0639b7711844ed47b03476385dc);
            
        

        circle_marker_11d7f88df8fd3d14ce5a3b7143c3ec4a.bindPopup(popup_26e0994c5dff3e72d2aa3085add95d87)
        ;

        
    
    
            var poly_line_d52a383cff24befa392b6cb731e94474 = L.polyline(
                [[47.85154, 2.37734], [47.85154, 2.37734], [47.837571607741445, 2.3707354598951262], [47.839037773495946, 2.3918828679381243], [47.85154, 2.37734], [47.85154, 2.37734]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_23ea4bde23695e88ab3028e47bab7ba8);
        
    
            var poly_line_692cc9f1f48e5eb89dc688fbca275928 = L.polyline(
                [[47.85154, 2.37734], [47.85154, 2.37734]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_23ea4bde23695e88ab3028e47bab7ba8);
        
    
            var poly_line_28a55dc2ef28a9299a3a524ebf70481a = L.polyline(
                [[47.85154, 2.37734], [47.85154, 2.37734]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_23ea4bde23695e88ab3028e47bab7ba8);
        
    
            var poly_line_c21b335da7f159943bb4570a07f36d95 = L.polyline(
                [[47.85154, 2.37734], [47.85154, 2.37734]],
                {"bubblingMouseEvents": true, "color": "pink", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "pink", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_23ea4bde23695e88ab3028e47bab7ba8);
        
    
            var poly_line_51649f0d07ff364b8990785b43a1f75f = L.polyline(
                [[47.85154, 2.37734], [47.85154, 2.37734], [47.859277935916865, 2.3683333089066934], [47.86362299120565, 2.316237475370496], [47.851313913602105, 2.3443209948902766], [47.85154, 2.37734], [47.85154, 2.37734]],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_23ea4bde23695e88ab3028e47bab7ba8);
        
</script>
</html>