<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_955b5c2ec303dd5cadb70d04d58863c5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_955b5c2ec303dd5cadb70d04d58863c5" ></div>
        
</body>
<script>
    
    
            var map_955b5c2ec303dd5cadb70d04d58863c5 = L.map(
                "map_955b5c2ec303dd5cadb70d04d58863c5",
                {
                    center: [47.383333, 0.683333],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6cc8937551a3c3e11c5eb854823b83a2 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_6cc8937551a3c3e11c5eb854823b83a2.addTo(map_955b5c2ec303dd5cadb70d04d58863c5);
        
    
            var circle_marker_7347485daac4755d2629183d73403f28 = L.circleMarker(
                [47.347652435302734, 0.6589514017105103],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_955b5c2ec303dd5cadb70d04d58863c5);
        
    
        var popup_0c67a1081db4d1366e2a5e935a6c2eaf = L.popup({"maxWidth": "100%"});

        
            
                var html_47428294ed890ef189265ae07a248846 = $(`<div id="html_47428294ed890ef189265ae07a248846" style="width: 100.0%; height: 100.0%;">1	center	47.347652435302734	0.6589514017105103	</div>`)[0];
                popup_0c67a1081db4d1366e2a5e935a6c2eaf.setContent(html_47428294ed890ef189265ae07a248846);
            
        

        circle_marker_7347485daac4755d2629183d73403f28.bindPopup(popup_0c67a1081db4d1366e2a5e935a6c2eaf)
        ;

        
    
    
            var circle_marker_21df6f94ddb0604b2862b9275bd11d1e = L.circleMarker(
                [47.36783981323242, 0.684602677822113],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_955b5c2ec303dd5cadb70d04d58863c5);
        
    
        var popup_f30187cf7ad6ff68cc9adbb6928c2fd5 = L.popup({"maxWidth": "100%"});

        
            
                var html_be60eaaf9251964d1513f878b332c298 = $(`<div id="html_be60eaaf9251964d1513f878b332c298" style="width: 100.0%; height: 100.0%;">2	client_1	47.36783981323242	0.684602677822113	</div>`)[0];
                popup_f30187cf7ad6ff68cc9adbb6928c2fd5.setContent(html_be60eaaf9251964d1513f878b332c298);
            
        

        circle_marker_21df6f94ddb0604b2862b9275bd11d1e.bindPopup(popup_f30187cf7ad6ff68cc9adbb6928c2fd5)
        ;

        
    
    
            var circle_marker_5116eb093065d7b749fa20dd1d3a4c34 = L.circleMarker(
                [47.3904758, 0.692027],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_955b5c2ec303dd5cadb70d04d58863c5);
        
    
        var popup_830f6431b62ba4806bea025827ef33d6 = L.popup({"maxWidth": "100%"});

        
            
                var html_f0d0505ec85d3d348aaf8a7f929c5510 = $(`<div id="html_f0d0505ec85d3d348aaf8a7f929c5510" style="width: 100.0%; height: 100.0%;">3	client_2	47.3904758	0.692027	</div>`)[0];
                popup_830f6431b62ba4806bea025827ef33d6.setContent(html_f0d0505ec85d3d348aaf8a7f929c5510);
            
        

        circle_marker_5116eb093065d7b749fa20dd1d3a4c34.bindPopup(popup_830f6431b62ba4806bea025827ef33d6)
        ;

        
    
    
            var poly_line_17c0c3dacabcec8db6227bbd949d9c28 = L.polyline(
                [[47.347652435302734, 0.6589514017105103], [47.347652435302734, 0.6589514017105103], [47.36783981323242, 0.684602677822113], [47.3904758, 0.692027], [47.347652435302734, 0.6589514017105103], [47.347652435302734, 0.6589514017105103]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_955b5c2ec303dd5cadb70d04d58863c5);
        
    
            var poly_line_602e23e64568bb5cff07285d339a6942 = L.polyline(
                [[47.347652435302734, 0.6589514017105103], [47.347652435302734, 0.6589514017105103]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_955b5c2ec303dd5cadb70d04d58863c5);
        
</script>
</html>